body {
  background-color: lightgray;
}

nav {
  position: relative;
  display: flex;
  justify-content: center;
  /* padding: 0% !important; */
}
.navbar h1 {
  color: white;
  background-color: lightseagreen;
  margin-bottom: 0%;
}

nav ul {
  margin-bottom: 0% !important;
}

nav ul li a {
  color: darkgrey;
}

section {
  background-color: white;
  margin-top: 90px;
  margin-left: 20px !important;
  margin-bottom: 30px !important;
  padding: 20px;
}

.containerDoggo {
  width: 54% !important;
}

.aboutMe,
.portfolio {
  color: lightseagreen;
  font-size: 40px;
  font-weight: 700;
  margin-top: -10px !important;
  border-bottom: lightgray 1px solid !important;
}

.imgSection {
  padding: 0%;
}
.indexImg {
  padding: 10px;

  padding-left: 0%;
}

.cardImg {
  float: left !important;
  padding: 20px;
}
